<% include ../partials/header %>

<h1>New Customer</h1>

<a href="/customers">Costumer</a></p>
<form method="post">
    <div>
        <label>name</label>
        <input type="text" id="name" name="name">
    </div>
    <button type="submit">Save</button>
</form>

<% include ../partials/footer %>