<% include ../partials/header %>

<h1>Customer</h1>

<p><a href="/">home</a> <a href="/customers/create">new costumer</a></p>

<table>
    <tr>
        <th>id</th>
        <th>Name</th>
    </tr>
    <% customers.map( customer =>{ %>
        <tr>
            <td><%= customer.id_transformed %></td>
            <td><%= customer.name %></td>
        </tr>
    <% }) %>
    <>
</table>

<% include ../partials/footer %>